{% load static %}

<!doctype html>
<html lang="en" class="no-js">
    <head>
   
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'navbar-top-fixed.css' %}">
        <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Heebo:400,700|Oxygen:700' %}"> 
        <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
        <script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>
   <style>
    .esquerdo{
        margin-left:40%;
    }
</style>
<body class="is-boxed has-animations">  
<main class="c">
  
      {% block content %}
        
      {% endblock %}
  </div>
</main>
<script src="{% static 'js/main.min.js'%}"></script>
</body>

